*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url("arriere-plan-particules-technologie-realiste-abstraite_52683-33064.jpg") no-repeat center / cover;
    padding: 30px 5%;

}

.container {
    position: relative;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    backdrop-filter: blur(30px);
    transform: scale(0);
    animation: zoom-in 1s ease forwards;

}

@keyframes zoom-in {
    100%{
        transform: scale(1);
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.animated {
    transform: translateY(30px);
    opacity: 0;
    animation: slide-in 1s ease forwards;
    animation-delay: 1s;
}

@keyframes slide-in {
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}



.logo{
    font-size: 25px;
    color: #f4ebeb;
    text-decoration: none;
    font-weight: 600;

}

.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 35px;
    border-bottom: 2px solid transparent;

}

.navbar a:hover,
.navbar a.active{
    border-color: #fff;
}

.home {
    display:flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50% 5% 1;
    color: #fff;
    animation-delay: 1.5s;
}

.home-detail h1{
    font-size: 55px;
    line-height: 1
    ;
}

.home-detail h2{
    font-size: 32px;
}

.home-detail p {
    margin: 10px 0 20px;
}

.btn {
    display: inline-block;
    padding: 10px 30%;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 500;
    color: #333;
    transition: .5s;
    
}
.btn:hover{
    background: transparent;
    box-shadow: none;
    color: #fff;
}

.home-img .img-box{
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
}

.home-img .img-box img{
    position: absolute;
    top: 30px 0;
    display: block;
    width: 100%;
    object-fit: cover;
}





